{% extends "base.html" %}

{% block container %}
    <div class="row">
        <div class="span2">Logo</div>
        <div class="span8">c-base c_ort and c_tore</div>
        <div class="span2"><a href="#">Browse places</a></div>
    </div>
    <div class="row">
        <div class="span10 offset2" id="searchform">
            <form class="form-search">
                <input type="text" id="search" class="input-medium search-query" />
                <button type="submit" id="searchbtn" class="btn btn-primary" >Go!</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="span12" id="searchresults">
        <table id="searchresultstable" class="table table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>General type</th>
                <th>Specific type</th>
                <th>Value</th>
                <th>Place</th>
                <th>Remaining</th>
                <th>Edit</th>
            </tr>
            </thead>
        </table>
        </div>
    </div>
{% endblock %}

{% block js_templates %}
{% verbatim %}
<script type="text/template" id="partTpl">
    <td>{{name}}</td>
    <td>{{general_type}}</td>
    <td>{{specific_type}}</td>
    <td>{{from_value}} – {{to_value}} {{unit}}</td>
    <td>{{place.path}}</td>
    <td>{{remaining}}</td>
    <td><a class="btn editBtn">Edit</a></td>
</script>

<script type="text/template" id="partEditTpl">
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="inputName">Name</label>
            <div class="controls">
              <input type="text" id="inputName" placeholder="Name" name="name"
                     value="{{name}}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputName">Place</label>
            <div class="controls">
              <input type="text" id="inputPlace" placeholder="Name" name="place"
                     value="{{place.path}}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputGeneralType">General type</label>
            <div class="controls">
              <input type="text" id="inputGeneralType" placeholder="General type" name="general-type"
                     value="{{general_type}}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputSpecificType">Specific type</label>
            <div class="controls">
              <input type="text" id="inputSpecificType" placeholder="Name" name="specific-type"
                     value="{{specific_type}}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputFromValue">From value</label>
            <div class="controls">
              <input type="text" id="inputFromValue" placeholder="Value" name="from-value"
                     value="{{from_value}}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputToValue">To value</label>
            <div class="controls">
              <input type="text" id="inputToValue" placeholder="Value" name="to-value"
                     value="{{to_value}}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputUnit">Unit</label>
            <div class="controls">
              <input type="text" id="inputUnit" placeholder="Enter unit" name="unit"
                     value="{{unit}}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPackage">Package</label>
            <div class="controls">
              <input type="text" id="inputPackage" placeholder="Enter package type" name="package"
                     value="{{package}}">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
</script>
{% endverbatim %}
{% endblock %}